<html>
    <head>
      <title>Collision Detection System</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
      <!-- Image and text -->
<nav class="navbar navbar-light" style="background-color:#55AADD;">
 <a class="navbar-brand" href="#" style="color:white;">
   BitByte
 </a>
</nav>
<section style="float:left;width:100%;margin-top:100px;">
<div class="container">
  <div class="row">
  <div class="col-sm-8">
    <canvas id="myCanvas"  style="width:100%;height:500px;border:1px solid #d3d3d3;"></canvas>
  </div>
  <div class="col-sm-4">
    <input type="text" id="speed" style="width:80%;height:30px" placeholder="speed">
    <br><br>
    <input type="text" id="distance" style="width:80%;height:30px" placeholder="Distance">
    <br><br>
    <input type="text" id="angle" style="width:80%;height:30px" placeholder="angle">
    <br><br>
    <button onclick="run()" >Run</button>
    <br><br>
    <p id="demo"></p>
  </div>

  </div>
  </div>
</section>
<script>
  var c = document.getElementById("myCanvas");
  var ctx = c.getContext("2d");

  function run(){
    ctx.clearRect(0, 0, c.width, c.height);
    var speed = parseInt(document.getElementById('speed').value);
    var speed = speed * 1 / 100;
    var distance= parseInt(document.getElementById('distance').value);
    var angle= document.getElementById('angle').value;
    var   x = parseInt(distance * Math.cos(angle * Math.PI / 180));
    var y = distance * Math.sin(angle * Math.PI / 180);
console.log(x);
console.log(y);
    ctx.beginPath();
    ctx.fillRect(150, 0, 10, 25);
    ctx.fillStyle = "black";
    ctx.fill();
    ctx.clearRect(150+x, y+y-10, 10, 25);
    ctx.beginPath();
    ctx.fillRect(150 + parseInt(x) , parseInt(y), 10, 25);
    ctx.fillStyle = "red";
    ctx.fill();
    ctx.clearRect(150+x, y+y-10, 10, 25);
    recur(speed, x , y-speed , 0, angle);

  }

  function recur(speed , x , y , counter, angle){
    console.log(angle);
    if(y < 25){

      return 0;

    }else{
      ctx.clearRect(150+x, y+y-10, 10, 25);
      console.log(x,y,counter);
      setTimeout(function(){
        ctx.beginPath();
        ctx.fillRect(150 + x, y, 10, 25);
        ctx.fillStyle = "red";
        ctx.fill();
        recur(speed , x , y - speed, counter+1);
      }, 10);

   }
  }
  </script>
<script>

  //setInterval( function(){

  //axios.get('/gui_api').then( function(response) {
    //var c = document.getElementById("myCanvas");
    //var ctx = c.getContext("2d");
    //ctx.beginPath();
    //ctx.fillRect(150, 0, 10, 25);
    //ctx.fillStyle = "red";
    //ctx.fill();
    //ctx.beginPath();
    //ctx.fillRect( 150 + response.data.x_axis,response.data.y_axis , 10, 25);
    //ctx.fillStyle = "black";
    //ctx.fill();
    //console.log(response);



   //}).catch(function (error) {
   //console.log(error);
   //});
  //},100);


  </script>
    <!--<script src="script/gui_new.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
       </body>
       </html>
